body{
	background-image: linear-gradient(to right, white , black); /* Standard syntax (must be last) */
}
.todolist{
	list-style: none;
	margin: 0;
	padding: 0;
}
h1{
	background: rgb(17, 16, 17);
	color: white;
	margin: 0;
	padding: 10px 20px;
	font-size: 25px;
	font-weight: normal;
}
.todolist li{
	background: rgb(0, 0, 0);
	height: 40px;
	line-height: 30px;
	color:white;
}
.todolist li:nth-child(2n){
	background: rgb(255, 255, 255);
	color:black;
}
.fa-pencil-square-o{
	float :right;
}

span{
	background: red;
	height:40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition:0.3s linear;
	opacity: 0;
}
li:hover span{
	width: 40px;
	opacity: 1.0;
}

input{
	font-size:20px;
	width: 100%;
	color:black;
	padding: 10px 10px 10px 10px;
	border:3px solid rgba(0,0,0,0);
	text-align: center;
}
input:hover{
	border: 3px solid black;
}

.ftr_social_icon li {
	display: inline-block;
	text-align: center;
	padding: 4px;
}


.ftr_social_icon ul li a {
    border: 2px solid #fff;
    border-radius: 50%;
    color: black;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 32px;
    padding: 2px 8px;
    width: 40px;
	transition: .5s;
}
.ftr_social_icon ul li a:hover{
	background: black;
	border-color: white;
	color: #fff;
}
.iam{
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	color: #000;
	border-bottom:solid 4px white;
	border-top:solid 4px black;
}